.footer {
  color: rgb(253, 253, 253);
  padding: 3rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-email {
  padding: 1rem 4rem;
  border-radius: 10px 0px 0px 10px;
  margin-top: 1rem;
  width: 60%;
}

.footer-icons {
  display: flex;
  flex-wrap: wrap;
}

.footer-details {
  display: flex;
  align-items: center;
  margin-right: 3rem;
  margin-left: 3rem;
}

.footer-social-icons {
  display: flex;
  justify-content: start;
  align-items: center;
}

.footer-social-icons > * {
  font-size: 30px;
}
.footer1 {
  display: flex;
  align-content: center;
}
.footer-text{
  font-size: 1.2rem;
  font-weight: 700;
}

