.register-container {
  width: 70%;
  background-color: white;
  height: 600px;
  margin: 2rem auto;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.register-left {
  width: 40%;
  height: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-right {
  width: 60%;
  color: black;
  text-align: center;
}

.register-text {
  margin-top: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
}

.register-input {
  background-color: #dde2e7;
  padding: 1rem 4rem;
  border-radius: 1rem;
  color: black;
}

.register-inputs {
  margin-top: 1rem;
}

.google-register {
  margin: auto;
}

.register-checkbox{
  margin-top:1rem;
}

@media screen and (max-width: 768px) {
  .register-left,
  .register-right {
    width: 100%;
  }
}
